<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resposta para usuário</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Resposta: </h1>
    <p>Mensagem do servidor: <%=mensagem%></p>
    <p>Usuário: <%=usuario%></p>
    <p>Email: <%=login%></p>
</body>
</html>