<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Blog</title>
</head>
<style>
    body{
        background-color:aqua;
        text-align: center;
    }
    .post {
        width: 1000px;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
        margin-bottom: 15px;
        color: black;
        text-align: left;
        justify-self: center;
    }
    a{
        color: black;
    }
</style>
<body>
    <form action="/cad_blog" method="post">
        <input type="submit" value="Criar Post">
    </form>
    <br>
    <br>
    <br>
    <div>
        <% posts.forEach(function(post) { %>
            <div class="post">
                <p><strong><%= post.db_titulo %></strong></p>
                <p><%= post.db_resumo %></p>
                <p><%= post.db_conteudo %></p>
            </div>
        <% }); %>
    </div>
</body>
</html>