<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Resposta cad blog</title>
</head>
<style>
    body{
        background-color: aqua;
        color: black;
        text-align: center;
    }
</style>
<body>
    <div id="div_repos">
        <h1>Post <%= mensagem %>  </h1>
        <p><a href="/blog"> HOME</a></p>
    </div>
</body>
</html>